extends ../../../layouts/sideMain

include ../../../mixins/homeAlbum
include ../../../mixins/homePopu
include ../../../mixins/chartBlock
block content
    +genreSideBox()
    .chart__content-box
        .chart__content
            ul.chart__nav
                a(href=`/music${routes.genre}`).nav__item 발라드
                a(href=`/music${routes.genreKoreaDance}`).nav__item 댄스
                a(href=`/music${routes.genreKoreaRap}`).nav__item 랩/힙합
                a(href=`/music${routes.genreKoreaSoul}`).nav__item.click__other__nav R&B/Soul
            +genreButton()
            .chart__list
                ul.chart__list-nav
                    .nav__item
                        input(type="checkbox", name="")
                        -for(let i =1; i<=music.length; i++ )
                            input(type="checkbox", name="")
                    .nav__item NO
                        -for(let i =1; i<=music.length; i++ )
                            .number #{i}
                    .nav__item 이미지
                            each item in music
                                +musicImageBlock({
                                    image: item.image
                                })
                    .nav__item 곡정보
                            each item in music
                                +musicTitleBlock({
                                    title: item.title
                                })
                    .nav__item 앨범
                            each item in music
                                +musicAlbumBlock({
                                    album: item.description
                                })
                    .nav__item 조회수
                            each item in music
                                +musicLikeBlock({
                                    like: item.views
                                })
                    .nav__item 듣기
                        -for(let i =1; i<=music.length; i++ )
                            i.fas.fa-play
                    .nav__item 담기
                        -for(let i =1; i<=music.length; i++ )
                            i.fas.fa-plus
                    .nav__item 다운
                        -for(let i =1; i<=music.length; i++ )
                            i.fas.fa-file-download
                .chart__list-page 1 - 50위 | 51 - 100위