mixin chartMainTitle
    .sideMain__box
        ul.sideMain__nav
            a(href=`/music${routes.chart}`)
                li.nav__item #{navtitle1}
            a(href=`/music${routes.chart}`)
                li.nav__item #{navtitle2}
            a(href=`/music${routes.chartTrend}`)
                li.nav__item #{navtitle3}
            a(href=`/music${routes.chartStyle}`)
                li.nav__item #{navtitle4}
    .sideMain__title-box
        .sideMain__title #{sideMainTitle}