extends ../../../layouts/sideMain

block content
    .sideMain__box
        ul.sideMain__nav
            a(href=`/music${routes.chart}/rise/day`)
                li.nav__item #{navtitle1}
            a(href=`/music${routes.chartTrend}`)
                li.nav__item.click__nav #{navtitle3}
            a(href=`/music${routes.chartStyle}`)
                li.nav__item #{navtitle4}
    .sideMain__title-box
        .sideMain__title #{sideMainTitle}
    .chart__content-box
        .chart__content
            ul.chart__nav
                li.nav__item 영상 트렌드
                li.nav__item 앨범 트렌드
            ul.chart__button-nav
                button 
                    i.fas.fa-play
                    | 전체 듣기
                button
                    i.fas.fa-play 
                    | 듣기
                button 
                    i.fas.fa-plus
                    | 담기
                button
                    i.fas.fa-download
                    | 다운                    
                button 
                    i.fas.fa-download
                    | FLAC
                button
                    i.fas.fa-gift
                    | 선물
            .chart__list
                .chart__list-grid
                | 작업중
                .chart__list-page 1 - 50위 | 51 - 100위